
@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@400,600,700&display=swap");
* --------- reset ------------ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

html,
body{
	height: 100%;
}
body {
	line-height: 1;

}
/* --------- reset end ------------ */


  
body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
} 

header {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;

}

.nav-list {
    display: flex;
}
.nav-item {
    padding-left: 20px;
}

.nav-item:hover{
    color: #ED165F;
}

.container {
    max-width: 1120px ;
    margin: 0 auto;
}

.sign-up-block {
    max-width: 690px;
}
.title {
    font-size: 2.5rem;
    font-weight: 600;    
}

.text {
    line-height: 1.2;
}

.step {
    font-size: 1.5rem;
    font-weight: 900;
}

.progress-field {
    margin-top: 10px;
	height: 40px;
    width: 100%;
	border: 1px solid #000000;
}

.lables {
    font-size: 1rem;
    font-weight: 700;
    line-height: 3;   
}

.field {
    margin-top: 10px;
	height: 40px;
    width: 200px;
	border: 1px solid #000000;
}

.field:first-child {
    width: 100%;
}

.progress-filling {
    height: 40px;
    width: 85%;
    background: #ED165F;
}

.form-lines {
display: flex;
flex-direction: column;
    
}

.form-label {
    font-size: 1rem;
    font-weight: 700;
}

.form-input {
     margin-left: 10px; 
     height: 30px;
}

.field-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px; 
    justify-content: space-between;
    max-width: 400px;
}

.lables-description {
    display: flex;
    font-style: italic;
    font-weight: 400;
    font-size: 0.8rem;
    width: 250px;
    line-height: 1;
}
.field-items:last-child {
    margin-bottom: 45px;
}

.checkbox {
	position: relative;
}

.checkbox-label {
    cursor: pointer;
    display: inline-flex;
    gap: 10px;
}
/* 
.checkbox-input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
} 


.checkbox-label::after {
    content: "";
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.checkbox-input:checked +.checkbox-label::after {
    background: #ffffff url(./img/check_mark.svg) center / 70% no-repeat;
   
} */


.button {
    background-color: #ED165F;
    color: #ffffff;
    height: 50px;
    width: 150px;
    border: none;
    transition: all 0.3s ease 0s;
    margin-bottom: 50px;
}

.button:hover {
    transform: translate(0px,3px);
    background-color: #ffffff;
    color: #ED165F;
    border: 2px solid #ED165F;
    box-shadow: 2px 5px 0px rgba(227, 63, 63, 0.8);
}

.sign-block {
    display: flex;
    justify-content: space-between;
}

.button-step-4 {
    display: flex;
    justify-content: flex-end;
}